absl-py==0.9.0
astor==0.8.0
certifi==2019.11.28
cloudpickle==1.2.2
cycler==0.10.0
future==0.18.2
gast==0.3.3
grpcio==1.16.1
gym==0.16.0
h5py==2.10.0
imageio==2.6.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.3
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.18.1
Pillow==7.0.0
protobuf==3.11.4
pyglet==1.4.10
pyparsing==2.4.6
python-dateutil==2.8.1
scipy==1.4.1
six==1.14.0
tensorboard==1.11.0
tensorflow==2.5.0
termcolor==1.1.0
Werkzeug==1.0.0
